asgiref==3.8.1
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
dj-database-url==2.2.0
Django==5.1
django-appconf==1.0.6
django-browser-reload==1.15.0
django-vite==3.0.4
djangorestframework==3.15.2
environs==11.0.0
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0
grpcio==1.70.0
grpcio-status==1.70.0
idna==3.10
iniconfig==2.0.0
markdown2==2.5.1
marshmallow==3.22.0
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pluggy==1.5.0
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pytest==8.3.4
pytest-django==4.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
schema==0.7.7
six==1.17.0
sqlparse==0.5.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.3.0
whitenoise==6.6.0