@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-red {
    @apply bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out;
  }
  .btn-red-sm {
    @apply bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded text-sm focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out;
  }
  .btn-green {
    @apply bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-150 ease-in-out;
  }
  .btn-green-sm {
    @apply bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded text-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-150 ease-in-out;
  }
  .btn-blue {
    @apply bg-oxford-600 hover:bg-oxford-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-oxford-600 focus:ring-opacity-50 transition duration-150 ease-in-out;
  }
  .link-oxford {
    @apply text-oxford-600 hover:text-oxford-700 font-semibold;
  }
  .markdown-content {
    @apply max-w-none [&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:link-oxford;
  }
  .markdown-content ul {
    @apply list-disc pl-12 mb-8 text-lg text-gray-900 ml-4;
  }
  .markdown-content ol {
    @apply list-decimal pl-12 mb-8 text-lg text-gray-900 ml-4;
  }
  .markdown-content li {
    @apply mb-2 last:mb-0;
  }
  .markdown-content blockquote {
    @apply px-6 py-2 border-l-4 border-gray-300 my-4;
  }
  .markdown-content blockquote p {
    @apply text-gray-700 mb-4 last:mb-0;
  }

  .dropdown-arrow {
    padding-right: 1.5rem;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%236b7280' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
  }
  .dropdown-arrow[aria-expanded="true"],
  .dropdown-select.dropdown-arrow:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%236b7280' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 15.75l7.5-7.5 7.5 7.5'/%3E%3C/svg%3E");
  }
  .dropdown-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}