<!DOCTYPE html>
{% load static %}
{% load django_vite %}

<html>
    <head>
        <title>{% block title %}{% endblock %} | OpenPrescribing Hospitals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% vite_hmr_client %}
        {% vite_asset 'src/main.js' %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script defer data-domain="hospitals.openprescribing.net" src="https://plausible.io/js/script.hash.pageview-props.tagged-events.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body class="preload flex flex-col min-h-screen text-slate bg-white">
        <div class="flex flex-col min-h-screen bg-slate-100">
            <nav>
                {% include 'partials/nav.html' %}
            </nav>
            <div class="bg-red-100 border-y border-red-200">
                <div class="container xl:max-w-screen-xl py-4 px-4 text-base text-red-700">
                    <div class="flex items-center gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 flex-shrink-0 sm:w-6 sm:h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                        <p>
                            This is a beta version of OpenPrescribing Hospitals for testing and feedback purposes. Data and functionality may be incomplete. Please <a href="{% url 'viewer:contact' %}" class="font-medium underline hover:text-red-800">contact us</a> if you find any issues or have feedback. <a href="{% url 'viewer:alerts' %}" class="font-medium underline hover:text-red-800">Sign up for email alerts</a> to stay updated.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-grow overflow-y-auto">
                {% block full_width_content %}{% endblock %}
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
                {% block scripts%}
                {% endblock %}
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </body>
</html>
