<!DOCTYPE html>
{% load static %}
{% load django_vite %}

<html>
    <head>
        <title>{% block title %}{% endblock %} | OpenPrescribing Hospitals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% vite_hmr_client %}
        {% vite_asset 'src/main.js' %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body class="preload flex flex-col min-h-screen text-slate bg-white">
        <div class="flex flex-col min-h-screen bg-slate-100">
            <nav>
                {% include 'partials/nav.html' %}
            </nav>
            <div class="flex-grow overflow-y-auto">
                {% block full_width_content %}{% endblock %}
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
                {% block scripts%}
                {% endblock %}
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </body>
</html>
