{% extends "base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container xl:max-w-screen-xl pb-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-16">
        <div class="mb-10">
            <h1 class="text-4xl font-bold text-oxford">
                Frequently Asked Questions
            </h1>
        </div>

        <div class="mb-10 text-gray-600 flex flex-col gap-4">
            <p>
                Below are some answers to common questions about the OpenPrescribing Hospitals platform. If you can't find the answer to your question here, or would like to provide feedback on the platform, please
                <a href="{% url 'viewer:contact' %}" class="link-oxford">
                    contact us
                </a>.
            </p>
        </div>

        <div id="toc" class="mb-10 bg-white rounded-xl shadow-sm hover:shadow-md transition-all duration-300 p-8 border border-gray-100">
            <h2 class="text-2xl font-semibold text-oxford mb-6">Contents</h2>
            <nav>
                <ul class="space-y-2">
                    {% for item in toc_items %}
                        <li>
                            <a href="#{{ item.anchor }}" class="block px-4 rounded-lg link-oxford">
                                {{ forloop.counter }}. {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="space-y-8">
            {% for section in faq_content %}
                <div class="group bg-white rounded-xl shadow-sm hover:shadow-md transition-all duration-300 p-8 border border-gray-100">
                    <div class="mb-6">
                        <h2 id="{{ section.title|slugify }}" class="text-2xl font-semibold text-oxford">{{ section.title }}</h2>
                    </div>
                    <div class="prose prose-slate max-w-none text-gray-600 [&>h3]:text-lg [&>h3]:font-semibold [&>h3]:text-oxford-800 [&>h3]:mb-3 [&>h3]:mt-6 [&_a]:link-oxford">
                        {{ section.content|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
