{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_asset './src/Layout.svelte' %}
{% endblock %}

{% block full_width_content %}
<div class="absolute inset-0 sm:bg-bn-blush-50 -z-10"></div>
{% endblock %}

{% block content %}
<div class="container xl:max-w-screen-xl pt-2 md:pt-6 pb-4">
    <div class="relative sm:bg-bn-blush-50 overflow-hidden">
        <div class="relative px-6 lg:px-8">
            <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-32">
                <div class="grid gap-y-6 text-center text-lg leading-relaxed text-oxford-800">
                    <h1 class="text-4xl font-bold tracking-tight text-oxford-900 sm:text-6xl">
                        OpenPrescribing Hospitals
                    </h1>
                    <p>
                        Every month, NHS England publishes processed pharmacy stock control data in the form of the 
                        <a href="https://opendata.nhsbsa.net/dataset/secondary-care-medicines-data-indicative-price" target="_blank"></a>
                        Secondary Care Medicines Dataset (SCMD)</a>. OpenPrescribing Hospitals allows easy exploration of this data 
                        through a set of curated Measures and a build-your-own analysis interface.
                    </p>
                  
                    <div class="flex items-center justify-center gap-x-3">
                        <a href="{% url 'viewer:analyse' %}" class="btn-blue">Start Analyzing</a>
                        <a href="{% url 'viewer:measures_list' %}" class="btn-blue">View Measures</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}