{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_asset 'src/components/measures/Measure.svelte' %}
    {% vite_asset 'src/components/measures/CollapsibleSection.svelte' %}
{% endblock %}

{% block title %}Measures · {{ measure_name_short }}{% endblock %}
{% block content %}
<div class="container xl:max-w-screen-xl pt-2 md:pt-6 pb-4">
    <div class="px-2 py-8 sm:p-10">
        <nav class="flex mb-6" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{% url 'viewer:measures_list' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Measures
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">{{ measure_name_short }}</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="overflow-hidden bg-white rounded-lg shadow-md p-8 space-y-8">
            <div class="flex items-start justify-between mb-4">
                <div>
                    <h1 class="text-2xl font-extrabold text-gray-900 sm:text-4xl">{{ measure_name }}</h1>
                    {% if reason %}
                    <div class="inline-block mt-4">
                        <span class="text-sm font-medium text-gray-500 mr-2">Tags:</span>
                        <span class="inline-flex items-center text-sm font-normal px-3 py-1 rounded-full cursor-help relative group"
                              style="background-color: {{ reason_colour }}20; color: {{ reason_colour }};">
                            <span class="w-2 h-2 rounded-full mr-2" style="background-color: {{ reason_colour }}"></span>
                            {{ reason }}
                            <!-- Tooltip -->
                            <div class="absolute top-full left-1/2 -translate-x-1/2 mb-2 w-48 p-4 bg-white rounded-lg shadow-lg 
                                      invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-300
                                      text-sm text-gray-600 z-10">
                                {{ reason_description|safe }}
                                <!-- Arrow -->
                                <div class="absolute -top-1 left-1/2 -translate-x-1/2 w-2 h-2 bg-white transform rotate-45"></div>
                            </div>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if error %}
                <div class="mt-4 bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded" role="alert">
                    <p class="font-bold">Error</p>
                    <p>{{ error }}</p>
                </div>
            {% else %}
            
            <div class="space-y-6">
                <h2 class="text-2xl font-bold text-gray-900 mb-4">What is this measure?</h2>
                <div class="[&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:font-semibold">
                    {{ measure_description|safe }}
                </div>
            </div>

            <div>
                <h2 class="text-2xl font-bold text-gray-900 mb-4">Why does it matter?</h2>
                <div class="[&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:font-semibold">
                    {{ why_it_matters|safe }}
                </div>
            </div>
            <span class="block w-full h-px bg-gray-300 my-8"></span>
            <div class="mb-8">
                <div id="measure-chart">
                    <measure-component 
                        orgdata="{{ org_data }}"
                        regiondata="{{ region_data }}"
                        icbdata="{{ icb_data }}"
                        percentiledata="{{ percentile_data }}"
                    ></measure-component>
                </div>
            </div>

            <span class="block w-full h-px bg-gray-300 my-8"></span>

            <div>
                <h2 class="text-2xl font-bold text-gray-900 mb-4">How is it calculated?</h2>
                <div class="[&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:font-semibold">
                    {{ how_is_it_calculated|safe }}
                </div>
                <div class="mt-4">
                    <collapsible-section 
                        title="Products included in this measure" 
                        description="All products below are included in the denominator of this measure. A subset of these products are included in the numerator."
                        items="{{ denominator_vmps}}"
                        numeratorItems="{{ numerator_vmps }}"
                        previewCount="1"
                    ></collapsible-section>
                </div>
            </div>
            <div>
                <h2 class="text-2xl font-bold text-gray-900 mb-4">Which Trusts are included?</h2>
                <div class="[&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:font-semibold">
                    <p>Trusts are only included in this measure if they have issued any products included in the denominator for this measure.</p>
                    <p>For this measure, {{ trusts_included.included }}/{{ trusts_included.total }} Trusts are included. A full list of Trusts included is available on the <a href="{% url 'viewer:submission_history' %}" target="_blank" class="underline font-semibold">Submission History</a> page.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
