{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_asset './src/components/measures/Measure.svelte' %}
{% endblock %}

{% block title %}Measures · {{ measure_name_short }}{% endblock %}
{% block content %}
<div class="container xl:max-w-screen-xl pt-2 md:pt-6 pb-4">
    <div class="px-6 py-8 sm:p-10">
        <nav class="flex mb-6" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{% url 'viewer:measures_list' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Measures
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">{{ measure_name_short }}</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="overflow-hidden bg-white rounded-lg shadow-md p-8 space-y-8">
         
                <h1 class="text-2xl font-extrabold text-gray-900 sm:text-4xl mb-4">{{ measure_name }}</h1>
                {% if error %}
                    <div class="mt-4 bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded" role="alert">
                        <p class="font-bold">Error</p>
                        <p>{{ error }}</p>
                    </div>
                {% else %}
                {% if reason %}
                <div class="flex items-center">
                    <span class="text-2xl inline-block font-semibold mr-2 px-4 py-2 rounded-lg" style="background-color: {{ reason_colour }}; color: {% if reason_colour == '#FFEB3B' %}#000000{% else %}#FFFFFF{% endif %};">
                        {{ reason }}
                    </span>
                </div>
                {% endif %}
            
                <div >
                    <h2 class="text-2xl font-bold text-gray-900 mb-4">Why it matters?</h2>
                    <div class="[&_p]:text-lg [&_p]:text-gray-900 [&_p]:mb-8 [&_a]:underline [&_a]:font-semibold">
                        {{ why_it_matters|safe }}
                    </div>
                </div>
                <span class="block w-full h-px bg-gray-300 my-8"></span>
                    
                <div>
                    <div>
                        <div id="measure-chart">
                            <p class="flex items-center">
                                Included organisations: {{ orgs_included.included }}/{{ orgs_included.total }}
                            </p>
                           

                            <measure-component 
                                orgdata="{{ org_data }}"
                                regiondata="{{ region_data }}"
                                icbdata="{{ icb_data }}"
                                percentiledata="{{ percentile_data }}"
                            ></measure-component>
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
