{% extends 'base.html' %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_asset 'src/components/dq/ProductDetails.svelte' %}
{% endblock %}

{% block title %}Product Lookup{% endblock %}

{% block content %}
<div class="container xl:max-w-screen-xl pt-2 md:pt-6 pb-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <div class="mb-12">
            <h1 class="text-4xl font-bold mb-6 text-gray-900 tracking-tight">Product Lookup</h1>
            <p class="text-lg text-gray-600 mb-4 leading-relaxed">
                Look up detailed product information for individual products, including 
                <a href="/faq/#what-is-the-dmd" class="link-oxford" target="_blank">dm+d</a> 
                and <a href="/faq/#what-is-the-anatomical-therapeutic-chemical-atc-system" class="link-oxford" target="_blank">ATC codes</a>. Here you can check the availability of different quantity 
                measures including <a href="/faq/#what-is-scmd-quantity" class="link-oxford" target="_blank">SCMD</a>, 
                <a href="/faq/#what-is-unit-dose-quantity" class="link-oxford" target="_blank">unit dose</a>, 
                <a href="/faq/#what-is-ddd-quantity" class="link-oxford" target="_blank">DDD</a> quantity, 
                and <a href="/faq/#what-is-ingredient-quantity" class="link-oxford" target="_blank">
                ingredient quantities</a>.
            </p>
            <div class="bg-white rounded-lg shadow-md">
                <product-details></product-details>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}